WEATHER_API_KEY=your_api_key_here
WEATHER_BASE_URL=http://api.weatherapi.com/v1
OPENAI_API_KEY=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
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_VISION_MODEL=gpt-4.1-mini
